---
import PublicLayout from "@/layouts/PublicLayout.astro";
import { getDb } from "@/db";
import { posts, tags, postsToTags } from "@/db/schema";
import { eq } from "drizzle-orm";
import { marked } from "marked";
import { format } from "date-fns";
import { Badge } from "@/components/ui/badge";
import { PostActions } from "@/components/PostActions";

// export const prerender = true;

const { slug } = Astro.params;
if (!slug) return Astro.redirect("/404");

const db = getDb(Astro.locals.runtime.env.DB);
const post = await db.select().from(posts).where(eq(posts.slug, slug)).get();

if (!post) return Astro.redirect("/404");

const postTags = await db.select({ name: tags.name })
  .from(tags)
  .innerJoin(postsToTags, eq(tags.id, postsToTags.tagId))
  .where(eq(postsToTags.postId, post.id))
  .all();

const content = marked.parse(post.content);



const schema = {
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": post.title,
  "description": post.excerpt || "",
  "datePublished": post.publishedAt?.toISOString(),
  "dateModified": post.updatedAt?.toISOString() || post.publishedAt?.toISOString(),
  "author": [{
      "@type": "Person",
      "name": "杨振",
      "url": "https://yangzhen.de5.net"
  }]
};

---

<PublicLayout title={post.title} description={post.excerpt || ""}>
    <script type="application/ld+json" set:html={JSON.stringify(schema)} />
  <article class="container max-w-3xl py-6 lg:py-10">
    <div class="flex flex-col items-start gap-4 border-b pb-10">
        <div class="flex w-full flex-col gap-2">
            <div class="flex items-center justify-between w-full">
                <div class="flex items-center space-x-2 text-sm text-muted-foreground">
                    <time datetime={post.publishedAt?.toISOString()}>
                        {post.publishedAt ? format(post.publishedAt, "yyyy年MM月dd日") : ""}
                    </time>
                </div>
            </div>
            <div class="flex gap-2">
                {postTags.map(tag => (
                    <Badge variant="secondary" className="font-normal text-xs">#{tag.name}</Badge>
                ))}
            </div>
        </div>
        <h1 class="text-4xl font-extrabold tracking-tight lg:text-5xl">
            {post.title}
        </h1>
    </div>
    <div class="prose prose-stone dark:prose-invert max-w-none py-10" set:html={content} />
    
    <PostActions 
      client:load 
      postId={post.id} 
      initialLikes={post.likes} 
      postUrl={Astro.url.href} 
    />
  </article>
</PublicLayout>
